<div class="card mb-3">
  <h2 class="card-header h4">
    Sq Type #<%= sq_type.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <dd><%= sq_type.name %></dd>

      <dt>Description</dt>
      <dd><%= sq_type.description %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back sq_type, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_sq_type_url(sq_type), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to sq_type, method: :delete, data: { confirm: "Do you really want to delete this sq_type?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(sq_type.updated_at) %> ago
  </div>
</div>
